html, body {
  font-family: "Lato", sans-serif;
  width: 100%;
  height:100%
}

.topnav{
  background-color: rgba(0,99,168,0.7);
  border-radius: 0px;
}

.greyfont{
  color: #DEDEDE;
}

.navfont{
  font-size: 20px;
}
#navlogo {
  width: 80px;
  height: 80px;
  position: absolute;
  margin-top: 10px;
  margin-left: 50px
}

nav .navbar-collapse > ul > li > a:hover {
  background-color: inherit !important;
  color: white !important;
  font-weight: bold
}

nav .navbar-collapse > ul > li > a:focus {
  background-color: inherit !important;
  color: white !important;
}

nav .navbar-collapse > ul > li > a:active {
  background-color: inherit !important;
  color: white !important;
}

.dropdown-menu{
  width: 30px !important;
}

nav .navbar-collapse > ul > li > ul >li {
  border: 0 !important;
  height: 100% !important
}

nav .navbar-collapse > ul > li > ul >li >a {
  color: #a5a5a5 !important;
}

@media only screen and (max-width: 767px){
  nav .navbar-collapse > ul > li > ul >li >a {
    color: lightgrey !important;
  }
}

/*scrolling news*/
.scrolling {
  min-width: 103%;
  margin-right: -35px;
  margin-left: -15px;

}
.upper {
  width: 100%;
  max-height: 600px;
  margin-top: -100px
}


/*pillar sections*/
.layer{
    background-color: rgba(0, 104, 167, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*hovering to reveal picture*/
.layer:hover{
  background-color: rgba(0,0,0,0);
}

.pillartitle{
  background-color: rgba(0, 99, 168, 0.63);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
}

.box{
  height: 300px;
}

.pillarword{
  color: #DEDEDE;
  line-height: 16px;
  text-align: center;
  font-size: 28px
}

.environ{
  height: 300px;
  background: url('../img/lighthouse.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.social{
  height: 300px;
  background: url('../img/demo.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.econ{
  height: 300px;
  background: url('../img/building.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.demo{
  height: 300px;
  background: url('../img/happyface.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.peace{
  height: 300px;
  background: url('../img/logo/dove.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.events{
  height: 300px;
  background: url('../img/events3.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*footer*/
#site-footer{
    min-height:60px;
    background: #87AED9;
}

.navbar-form{
  margin-top: 13px;
  margin-left: 5px
}
.fa-icon{
  color: white;
  font-size: 24px;
}

.fa-circle{
  /*color: #d8d8d8;*/
  color: #bfbfbf;
}

#footerECIlogo{
  height: 50px;
  width: auto;

}

.bottomlinks{
  margin-top: 18px;
  font-size: 16px;
}

.bottomsocial{
  margin-top: 7px;
  margin-right: 5px
}

.bottomlinks >li > a{
  color: #eaeaea;
}

.bottomlinks >li > a:hover {
  background-color: inherit !important;
  color: white !important;
  text-decoration: none;

}

.bottomlinks >li > a:focus {
  background-color: inherit !important;
  color: white !important;
  text-decoration: none;
}

.bottomlinks >li > a:active {
  background-color: inherit !important;
  color: white !important;
  text-decoration: none;
}

/*===============ENVIRONMENT BLOG===============================*/
.environtop {
  min-height: 380px;
  max-height: 450px;
  width: 100%;
  margin: -90px 0 auto 0;
  background: url('../img/peacewater.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*opacity: 0.6*/
}

.blogwordcolor{
    color: #737373;
}
.pillarblogtitle{
  font-size: 30px;
  margin: 120px 0 0 100px;
  font-weight: bold
}

.bloguppersentence{
  font-size: 16px;
  margin: 0 0 50px 100px;
}

.bloglogo{
margin: 80px auto auto auto;
max-height: 400px;
align-content: center;
}

#demologo{
  margin: 30px auto auto auto;
  max-height: 220px;
  align-content: center;
}

#econlogo{
  margin: 30px auto auto auto;
  max-height: 240px;
  align-content: center;
  border-radius: 50%
}

.haiku1{
  font-size: 16px;
  margin-top: 80px
}

.haiku2{
  font-size: 20px;
}

.haiku3{
  font-size: 15px;
}

.blogsection{
  margin-top: 50px

}
.classWithPad{
  background-color: #EEEEEE;
  margin:5px;
  padding:5px;
}

.blogupper{
  max-height: 180px;
}

.blogpic{
  min-width: 100%;
  min-height: 180px;
  max-height: 180px;
}

.blogrow{
  margin-bottom: 30px;
}

.blogtitle > a{
  color: grey;
  font-size: 20px
}

.blogtitle > a:hover{
  color: #545353;
}

.blogsummary{
  color: grey;
  font-size: 15px
}
