body {
  font-family: "Lato", sans-serif;
  width: 100%;
  height:100%
}

.topnav{
  background-color: rgba(0,99,168,0.7);
  border-radius: 0px;
}

.greyfont{
  color: #DEDEDE;
}

.navfont{
  font-size: 20px;
}
#navlogo {
  width: 80px;
  height: 80px;
  position: absolute;
  margin-top: 10px;
  margin-left: 50px
}

nav .navbar-collapse > ul > li > a:hover {
  background-color: inherit !important;
  color: white !important;
}

nav .navbar-collapse > ul > li > a:focus {
  background-color: inherit !important;
  color: white !important;
}

nav .navbar-collapse > ul > li > a:active {
  background-color: inherit !important;
  color: white !important;
}

.dropdown-menu{
  width: 30px !important;
}

nav .navbar-collapse > ul > li > ul >li {
  border: 0 !important;
  height: 100% !important
}

nav .navbar-collapse > ul > li > ul >li >a {
  color: lightgrey !important;
}

/*scrolling news*/
.scrolling {
  min-width: 103%;
  margin-right: -35px;
  margin-left: -15px;

}
.upper {
  width: 100%;
  max-height: 600px;
  margin-top: -80px
}

/*2nd row*/
.left{
  width: 61.8% !important;
  background: url('img/peacewater.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: opacity(0.6);
  filter: opacity(0.6);
}
a:hover, a:active, a:focus{
  text-decoration: none;
}

.right {
    width: 38.2% !important;
}

.is-table-row {
        display: table;
    }

.is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }

#maple{
  margin-top: 10px;
  margin-bottom: 10px;
}

#subscribe{
  font-size: 1.5vw;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: -50px;
  margin-bottom: 20%;
}

.EC{
  margin-top: 10%;
  background-color: transparent;
}

/*pillar sections*/
.layer{
    background-color: rgba(0, 104, 167, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*hovering to reveal picture*/
.layer:hover{
  background-color: rgba(0,0,0,0);
}

.pillartitle{
  background-color: rgba(0, 99, 168, 0.63);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
}

.box{
  height: 300px;
}

.pillarword{
  color: #DEDEDE;
  line-height: 16px;
  text-align: center;
  font-size: 28px
}

.environ{
  height: 300px;
  background: url('img/lighthouse.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.social{
  height: 300px;
  background: url('img/demo.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.econ{
  height: 300px;
  background: url('img/building.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.demo{
  height: 300px;
  background: url('img/happyface.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.peace{
  height: 300px;
  background: url('img/logo/dove.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.events{
  height: 300px;
  background: url('img/events3.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*footer*/
#site-footer{
    height:60px;
    background: #87AED9;

}

.navbar-form{
  margin-top: 13px;
margin-left: 30px
}
.fa-icon{
  color: white;
  font-size: 24px;
}

.fa-circle{
  /*color: #d8d8d8;*/
  color: #bfbfbf;
}

#footerECIlogo{
  height: 50px;
  width: auto;

}

.bottomlinks{
  margin-top: 18px;
  font-size: 16px;
}

.bottomsocial{
  margin-top: 7px;
  margin-right: 20px
}

.bottomlinks >li > a{
  color: #eaeaea;
}

.bottomlinks >li > a:hover {
  background-color: inherit !important;
  color: white !important;
  text-decoration: none;

}

.bottomlinks >li > a:focus {
  background-color: inherit !important;
  color: white !important;
  text-decoration: none;
}

.bottomlinks >li > a:active {
  background-color: inherit !important;
  color: white !important;
  text-decoration: none;
}
